on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: arduino/arduino-lint-action@v1
        with:
          library-manager: submit
      - uses: arduino/compile-sketches@v1
        with:
          fqbn: 'arduino:avr:uno'
          libraries: |
            - name: ZzzMovingAvg

